
<div class="container">
  <div class="row" alignment="true">
    <div class="col-md-12 col" alignment="true">
      <div id="growth-container" class="graphic-container">
        <div id="growth" class="graphic wide">

          <div id="growth-leg" class="graphic-legend">

          </div>

        </div>
        <div class='step' id="trigger_0">
          <p>In 2010, the 311 system received 14,253 complaints about illegal dumping, trash and recyclables collection, and vacant lots in need of cleanup.</p>
        </div>
        <div class='step' id="trigger_1">
          <p>In 2017, the number of complaints more than tripled to 50,204. One reason: More people have used 311 since the city allowed people to submit complaints online.</p>
        </div>
        <div class='step fix'></div>
      </div>
    </div>
  </div>
</div>
