

<div class="graphicWrapper">

  <h3 style="font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial',sans-serif">311 Trash Complaints by Neighborhood</h3>
      <div style="margin: 5px 0; font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial',sans-serif; line-height: 1.5em; font-size:.9em;">See how many 311 trash complaints came from your neighborhood last year, and how long the city took, on average, to resolve them. The maps also include locations of the 30 most common dumping sites in the city, which officials call the “Dirty 30.”</div>

  <form action="" style="padding:10px 0;">
    <div style="    width: 15px;height: 15px;background-color: #596B4C;border-radius: 50%;border: 1px solid black;line-height:0.8; display:inline-block;">&nbsp;</div> "Dirty 30" location<br>
  <input class="radio_button" type="radio" name="map" value="litter" checked> 311 Trash Complaints by Neighborhood<br>
  <input class="radio_button" type="radio" name="map" value="wait"> Resolution Wait Time by Neighborhood<br>
</form>

<div id="litter-map" class="toggleMap">
  <iframe width="100%" height="500" src="http://media.philly.com/storage/inquirer/iframe/litter_map_2017_trash.html" frameBorder="0" scrolling="no"></iframe>
</div>
<div id="wait-map" class="toggleMap" style="display:none;">
  <iframe width="100%" height="500" src="http://media.philly.com/storage/inquirer/iframe/litter_map_response_time_2017_trash.html" frameBorder="0" scrolling="no"></iframe>
</div>
</div>
