<div id="wait" class="graphic">

  <div id="wait-leg" class="graphic-legend">
      Avg. 311 Complaint *Resolve Time
  </div>

  <div class="neighborhood first bag_graph " data-wait="8"><div class="name">Center City</div><div class="icon"></div></div>
  <div class="neighborhood first bag_graph " data-wait="9"><div class="name">Fairmount</div><div class="icon"></div></div>
  <div class="neighborhood first bag_graph " data-wait="8"><div class="name">Chestnut Hill</div><div class="icon"></div></div>
  <div class="neighborhood second bag_graph " data-wait="16"><div class="name">Point Breeze</div><div class="icon"></div></div>
  <div class="neighborhood second bag_graph " data-wait="20"><div class="name">Kingsessing</div><div class="icon"></div></div>
  <div class="neighborhood second bag_graph " data-wait="26"><div class="name">N. Philadelphia</div><div class="icon"></div></div>

  <div class="note">*Resolve means how long the city took to address the complaint from start to finish, not just how long it took to respond. While the city only counts business days, weekends are included in these numbers.</div>



</div>
