<div class="container-fluid topBlock">
  <div class="row" alignment="true">
    <div class="col" alignment="true">
      <div id="trash-gradient" class=""></div>

      <div id="images311">
        <div class="row_311">

          <!-- <div class="overlayT complaints fadeLeadR">test test</div> -->

          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
          <div class="column_311">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
            <img src="" style="width:100%">
          </div>
        </div>
      </div>

      <div class="overlayT">
      <div class="mHead fadeLead">Trash Tirade</div>
      <div class="sHead fadeLead" fadeLead> Even in a city long accustomed to living with litter, complaints to officials have surged. What’s&nbsp;Philadelphia doing about it?
        <br>
        <div class="dateline fadeLead">Thurs., Feb. 22, 2018</div>
      </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-1">
    <div class="backgroundImageCredit" alignment="true">DAVID MAIALETTI / Staff Photographer</div>
  </div>
  <h1 class="overlayText">Trash Tirade</h1>
</div> -->

<div class="headerSection">

  <div class="headDisplay">
    <div id="complaints-container">
      <div id="complaints">
        <div class="containerQuoteText" alignment="true">
          <span class="quoteVar">&ldquo;Old rotting piano, have seen mice crawling in and out&ldquo;</span></div>
        <div class="containerQuoteSource" alignment="true"><span class="sourceVar">311 complaint from Wissinoming</span></div>
      </div>
    </div>
    <!-- <div class="subHead">
      Even in a city long accustomed to living with litter, complaints to officials have surged. What’s Philadelphia doing about it?
    </div> -->
    <div class="byline">
      Michael Boren / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>,
      <br> Julia Terruso / Staff Writer, <a href="mailto:jterruso@phillynews.com">jterruso@phillynews.com</a>, &
      <br> Michele Tranquilli / Staff Writer, <a href="mailto:tranqum@phillynews.com">tranqum@phillynews.com</a>
      <div style="margin: 10px auto;width: 250px;padding-bottom: 30px;" class="custom-social-share" alignment="true">&nbsp;</div>
    </div>
    <!-- <div class="dateline">Thurs., Feb. 22, 2018</div> -->
  </div>
</div>

<div class="container bodyContainer" alignment="true">

  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">





      <p><span class="dropCap">J</span>onathan Jacobs’ one-mile trek from Point Breeze to the Center City nonprofit where he works is a minefield of dirty distractions - a shattered TV on the sidewalk, trash bags overflowing with discarded clothes, storm
        drains stuffed with food wrappers. As much a part of his morning routine as his bowl of Raisin Bran and mug of coffee, Jacobs stops repeatedly along the way to snap photos of the litter and report it on the city’s 311-complaint app.</p>


      <p>In three years he has submitted 4,000 complaints &mdash; yes, that&rsquo;s an average of four per day &mdash; in the hopes the city will clean up the filth.</p>
      <p>&ldquo;It drives me nuts,&rdquo; said Jacobs, 43, who has also lived in South Carolina, Virginia, and Northeast Philadelphia. &ldquo;This has got to be the dirtiest neighborhood I&rsquo;ve ever seen. Ever. I can clear the block today, and it&rsquo;s
        filthy by tomorrow.&rdquo;</p>



      <p>Jacobs may be 311&rsquo;s most prolific user, but he is among thousands of Philadelphians who have complained about litter to the city&rsquo;s main hotline for quality-of-life issues. And residents are complaining more than ever.</p>
    </div>
  </div>
</div>


{% include "partials/growth.html" %}

<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>But trash has long troubled Philadelphia.</p>
      <p>In 1883, a group of residents writing to the state legislature called Philly the &ldquo;worst-cleaned city in the civilized world.&rdquo; Almost a century later, in 1981, city managing director W. Wilson Goode Sr. accused Philadelphians of &ldquo;behaving
        like pigs.&rdquo; In 2008, Mayor Michael Nutter <a href="http://www.philly.com/philly/news/local/20080311_Nutter_calls_for_community_cleanup.html">proclaimed</a> &ldquo;far too many areas of our city are filthy.&rdquo;</p>
      <p>When the city asked residents last year what services most needed to improve, streets and sanitation <a href="http://www.philly.com/philly/news/which-philly-city-service-needs-the-most-work-survey-says-20171027.html">topped the list</a>.</p>
      <p>Filthadelphia remains a nickname we can&rsquo;t shake. Why can&rsquo;t we clean up our act?</p>
      <p>"There's so much trash in this city, sometimes I just say, &lsquo;F&mdash; it. What's it gonna matter if I throw a bottle out of my car?&rsquo;&rdquo; said Fred Saal, 69, who still tries to pick up wood and tires regularly dumped near his North Philly home. &ldquo;It tends
        to suck you in, like an epidemic.&rdquo;</p>

    </div>
  </div>
  <div alignment="true" class="row">
    <div class="col col-md-6 imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_825x550_20180220_SWEEP18_a_454485793.jpg" class="img-fluid">
      <div alignment="true" class="containerPhotoCredit mobileHide">JONATHAN WILSON / For the Inquirer</div>
    </div>
    <div class="col col-md-6 imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_825x550_20180220_SWEEP18_b_454541767.jpg" class="img-fluid">
      <div alignment="true" class="containerPhotoCredit">JONATHAN WILSON / For the Inquirer</div>
      <div alignment="true" class="containerPhotoCaption">Fred Saal picks up trash left on North 16th Street in North Philadelphia.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>Maybe it&rsquo;s that apathetic and contagious Philly attitude. Others point to the lack of city-operated street sweeping on residential blocks, or too few trash cans.</p>
      <p>It could also be our sheer size. Stretching across 135 square miles, Philadelphia is the<a href="http://www.philly.com/philly/news/philadelphia-census-deep-poverty-poorest-big-city-income-survey-20170914.html">poorest big city in the nation</a>        where swaths of vacant homes and blighted blocks become illegal dumping grounds. Construction debris complicates the problem in neighborhoods undergoing building booms. Wealthier zip codes struggle, too, with overflowing trash cans and littered
        sidewalks.
      </p>
      <p>Big events, of course, draw one-time dumping. Eagles fans left behind <a href="http://www.philly.com/philly/super-bowl-lii/eagles-super-bowl-parade-breaks-city-trash-record-20180209.html">60 tons of trash</a> along the 4.7-mile parade route earlier
        this month, breaking the city&rsquo;s all-time record.</p>
      <p>No matter where you live, the problem becomes much more than an eyesore.</p>
      <p>Consider what litter can do:</p>
      <div class="trash_list">
        <ul>
          <li>
            <p><strong>Reduce property values - </strong> Studies in the <a href="https://www.kab.org/sites/default/files/News%26Info_Research_LitterinAmerica_FactSheet_CostsofLittering.pdf">U.S.</a> and <a href="http://www.dailymail.co.uk/news/article-2915296/Litter-outside-home-knocks-12-house-prices-meaning-cuts-street-cleaning-costs-owners-thousands.html">Britain</a>              have found a littered street can reduce home values by at least 10 percent. It can also make potential homeowners and businesses less likely to move into a neighborhood.</p>
          </li>
          <li>
            <p><strong>Hurt your physical and mental health - </strong> Litter attracts rats, roaches, and other vermin that can carry serious<a href="https://www.cdc.gov/rodents/diseases/direct.html"> diseases</a>. The buildup of litter &mdash; particularly
              on vacant lots &mdash; can also cause stress and depression when people feel powerless to stop it, a 2012 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3665973/">study</a> found. One resident surveyed said: &ldquo;It just makes you
              question where you call home. You like, &lsquo;Oh man, I gotta come home around this crap again?&rsquo; It&rsquo;s a downer.&rdquo;</p>
          </li>
          <li>
            <p><strong>Attract crime - </strong> A littered street suggests residents don&rsquo;t care about the conditions on their block. &ldquo;It visually advertises that residents tolerate violations of the social order and are unlikely to intervene
              in order to stop crime and disorderly conduct,&rdquo; a 2012 <a href="http://www.mdpi.com/2071-1050/4/8/1733/pdf">study on urban litter</a> found. Residents, the researchers said, may then retreat inside their homes without building relationships
              with neighbors.
            </p>
          </li>
        </ul>
      </div>
      <p>Jacobs, who works as a college and career counselor, started picking up trash and calling 311 partly because he thought it might discourage drug dealing in the neighborhood.</p>
      <p>&ldquo;I got cursed out by quite a few of the drug dealers,&rdquo; he said. &ldquo;They hated the fact that there was some guy walking the streets, cleaning.&rdquo; A few years later, he sees fewer dealers on his block and says the existing ones
        seem to pick up after themselves. &ldquo;They put their garbage in the bag.&rdquo;</p>


    </div>
  </div>
  <div alignment="true" class="row">
    <div class="col col-md-6 imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_825x550_20180220_LITTER_B_457975190.JPG" class="img-fluid">
      <div alignment="true" class="containerPhotoCredit mobileHide">DAVID MAIALETTI / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Jonathan Jacobs, a Point Breeze resident, has submitted more than 4,000 litter complaints to 311. Jacobs takes a picture with his phone for a complaint in his neighborhood in Philadelphia, PA on February 19, 2018.</div>

    </div>
    <div class="col col-md-6 imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_825x550_20180220_LITTER_A_457974412.JPG" class="img-fluid">
      <div alignment="true" class="containerPhotoCredit">DAVID MAIALETTI / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Jacobs looks at a pile of litter near the corner of 20th Street and Snyder Avenue in Philadelphia, PA on February 19, 2018. He has posted a complaint about this location many times. </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">



      <p>Where you live influences how quickly the city resolves* 311 trash complaints. The whiter and wealthier your neighborhood, generally the faster the resolution.</p>
      <p>Center City, Fairmount, and Chestnut Hill waited an average of six to nine days to have complaints resolved last year.</p>
      <p>Point Breeze, Kingsessing, and North Philadelphia waited an average of 16 to 28 days.</p>

      {% include "partials/wait.html" %}

      <p>Neighborhoods with longer response times tend to have the most complaints, a high volume of vacant properties, or both.</p>


    </div>
  </div>


  <div alignment="true" class="row">

    <div class="col col-md-12 imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_1200x800_20180220_Vacant_lot_along_with_tons_of_trash_bags_along_1800_block_W._Seybert_St.JPG" class="img-fluid">
      <div alignment="true" class="containerPhotoCredit">MICHAEL BOREN / Staff</div>
      <div alignment="true" class="containerPhotoCaption">Dozens of trash bags were stacked on top of each other in a vacant lot across from Josh Pezzner&#039;s North Philly home last summer.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p>&ldquo;These areas are prone to more illegal dumping because there is generally more open space like vacant lots and abandoned buildings,&rdquo; Philadelphia Streets Commissioner Carlton Williams said. &ldquo;A perfect fit to drop off and leave
        unwanted debris without being noticed.&rdquo;</p>


      <div class="float-right med">
        <div class="yt-name">Josh Pezzner</div>
        <div class="yt-title">“They don't care who lives here.”</div>
        <div class="yt-container"><iframe frameborder="0" id="widget2" allowfullscreen="" src="https://www.youtube.com/embed/TFBH4SQoxik?rel=0&amp;showinfo=0&amp;enablejsapi=1" class="yt-video"></iframe></div>
        <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographers</div>
        <div alignment="true" class="containerPhotoCaption">&nbsp;</div>
      </div>


      <p>Fining illegal dumpers is difficult unless there&rsquo;s camera surveillance or they&rsquo;re caught in the act, Williams said. Residents also often have trouble finding the source of trash left behind.</p>
      <p>&ldquo;I honestly don&rsquo;t even know where it comes from,&rdquo; said Josh Pezzner, 28, whose home near Girard College in North Philly sat across from a vacant lot with a mountain of stuffed trash bags &mdash; dozens, he estimated &mdash; last
        summer. He put a lock on a second vacant lot when it began to collect bags. &ldquo;I just feel disrespected. I&rsquo;m embarrassed in a sense.&rdquo;</p>



      <p>Farther down the block, residents picked up wrappers, beer cans, and newspapers from a park, lamenting how people treat it like a dump.</p>
      <p>&ldquo;You feel like exploding,&rdquo; said Vandella Goodman, 65,a neighbor who said stress had caused her to develop high blood pressure. Some of that stress comes from confronting litterers. Goodman tells them they can&rsquo;t just leave trash
        on her block. She said they snap back:&ldquo;Who are you to tell me what to do? I can do whatever I want.&rdquo;</p>

    </div>
  </div>
  <div alignment="true" class="row">

    <div class="col col-md-12 imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_1200x800_20180220_SWEEP25_c_457368774.jpg" class="img-fluid">
      <div alignment="true" class="containerPhotoCredit">TIM TAI / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Vandella Goodman stands for a picture on West Seybert Street in North Central Philadelphia on Friday, Feb. 16 2018.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p>Fair or not, that leaves Goodman responsible for cleaning it up.</p>
      <p>The city requires homeowners and landlords to keep the sidewalk in front of their property trash-free &mdash; even if they didn&rsquo;t cause the mess &mdash; or face fines. Plenty of people don&rsquo;t know that, though. Or, for that matter, how
        to get help.</p>
      <p>A few stray pieces of garbage can easily become a magnet for a bigger mess and make people more inclined to litter.</p>

      <div class="imagebreak float-right smaller"><img width="100%/" alt="" src="http://media.philly.com/images/RS_825x550_20180220_Trash_next_to_tree_that_Ronata_Lewis_Oglesby_motions_to_in_Strawberry_Mansion____That_trash_over_there_by_that_tree_prob._been_sitting_there_for_weeks____on_Nov._28_along_Cumberland_near_Natrona.JPG"
          class="img-fluid">
        <div alignment="true" class="containerPhotoCredit">MICHAEL BOREN / Staff</div>
        <div alignment="true" class="containerPhotoCaption">Trash next to a tree that Ronata Lewis-Oglesby points out in Strawberry Mansion on Nov. 28. &quot;That trash over there by that tree has probably been sitting there for weeks,&quot; she said.</div>
      </div>


      <p>&ldquo;Throw it right on the ground &mdash; I&rsquo;m not gonna lie to you, I have,&rdquo; said Ronata Lewis-Oglesby, 38, who lives in Strawberry Mansion. Coffee cups and soda bottles usually, she explained, as she skirted a pizza box left on the
        sidewalk of West Cumberland Street near 33rd, where nine trash bags and an empty takeout container surrounded a nearby tree. &ldquo;You might walk for a few blocks and still not see a trash can. You&rsquo;re like, &lsquo;Ah, well, I&rsquo;m not
        gonna keep walking with it forever.&rsquo;&rdquo;</p>



      <p>But even municipal trash cans can cause headaches &mdash; people often <a href="http://www.philadelphiastreets.com/sanitation/residential/illegal-wire-basket-dumping/">fill them with household garbage</a>, not the smaller items they&rsquo;re meant
        for.
      </p>
      <p>&ldquo;As soon as we put one [out] we have neighbors saying, &lsquo;Come get it, because now there&rsquo;s more trash than ever,&rsquo;&rdquo; Williams said.</p>


      <p>Overall, even as complaints have risen, the city has gotten better at addressing them. </p>
      <p>In 2010, the city took an average of 23 days to resolve complaints about illegal dumping, trash and recyclables collection, and vacant lots in need of cleanup. In 2017, the city took an average of 15 days.</p>


      <div id="city" class="graphic">

        <div id="wait-leg" class="graphic-legend">
          Citywide Avg. 311 Complaint Resolve Time
        </div>

        <div class="bag_graph city" data-wait="23">
          <div class="name">2010</div>
          <div class="icon"></div>
        </div>
        <div class="bag_graph city" data-wait="15">
          <div class="name">2017</div>
          <div class="icon"></div>
        </div>


      </div>




      <p>The Streets Department had no substantial increase in staffing levels or budget during that period. It has just gotten better at preemptively responding to known dump sites, Williams said. Employees dub these sites the &ldquo;Dirty 30&rdquo; and
        regularly patrol them to check for litter.</p>



      <p>The department has a team of37 investigators, known as <a href="http://www.philadelphiastreets.com/sweep/">SWEEP officers</a>, who respond to 311 complaints and issue warnings or tickets &mdash; if the violators can be found. The officerswill literally
        weed through piles of trash to search for items listing addresses or names. Depending on the size of the mess, the city sometimes dispatches complaint trucks &mdash; there are 13 citywide &mdash; to clean it up.</p>


      <div class="float-right med">
        <div class="yt-name">Vincent Mason</div>
        <div class="yt-title">“We always want to tidy up after we come out.”</div>
        <div class="yt-container"><iframe frameborder="0" id="widget2" allowfullscreen="" src="https://www.youtube.com/embed/PvEucEuKLAk?rel=0&amp;showinfo=0&amp;enablejsapi=1" class="yt-video"></iframe></div>
        <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographers</div>
        <div alignment="true" class="containerPhotoCaption">&nbsp;</div>
      </div>



      <p>A separate agency, <a href="http://www.phila.gov/clip/vacantlotprogram/Pages/default.aspx">CLIP</a>, is responsible for cleaning vacant lots. The agency added eight people to its cleanup team in 2017, bringing the total to 50, and shuffled resources
        so it could respond faster to neighborhoods with the most vacant lot complaints. Of all trash-related complaints, these take the longest to resolve &mdash; sometimes two months or more &mdash; because the city gives property owners time to address
        the violations and clean up their lots.</p>

<p>Forbes and other magazines have called Philadelphia one of the nation’s dirtiest cities, but those rankings took into account air quality and water pollution. Experts say it’s difficult to isolate trash as a single factor and accurately compare cities.</p>

      <p>Philadelphia officials say the city is getting cleaner. It launched a <a href="http://www.philadelphiastreets.com/zero-starts-with-one/">&ldquo;Zero Waste and Litter&rdquo; initiative last year</a>, with the goal of becoming litter-free by 2035, and
        recently published <a href="https://cleanphl.org/">sanitation scores for every block</a> &mdash; 1 being the cleanest and 4 being the dirtiest &mdash; to help identify the most troubled areas. Thousands of volunteers also participate each year
        in a citywide <a href="http://www.philadelphiastreets.com/philly-spring-cleanup/">spring cleanup</a>, which former Mayor Nutter started a decade ago.</p>


      <div class="graphicWrapper">
        <h3 class="heading">City of Philadelphia Litter Index</h3>
        <!-- <p class="description"></p> -->

        <iframe width='100%' height='640px' src='http://phl.maps.arcgis.com/apps/View/index.html?appid=4856a523514c4c02ba0e28e6a0e8c42c&extent=-75.1904,39.9633,-75.1184,39.9946' frameborder='0' scrolling='no'></iframe>


        <div class="source">SOURCE: City of Philadelphia</div>
      </div>





      <p>But Philadelphia still has a lot of work to do.</p>
      <p>Of the nation&rsquo;s 25 largest cities, Philly is one of only five to not perform regular sweeping on residential streets. Budget cuts ended that in 2009; the city now only sweeps <a href="https://drive.google.com/open?id=1wa0jSWTOnJl6wXumBsejTq-BT2U&amp;usp=sharing">commercial corridors</a>,
        where some, but not most, residents live. (The Center City District and University City District also have sidewalk sweepers that come through at least three times a day).</p>

      <div class="imagebreak float-right med">
        <img width="100%/" alt="" src="http://media.philly.com/images/RS_1200x800_20180220_SWEEP12_G_429536266.JPG" class="img-fluid">
        <div alignment="true" class="containerPhotoCredit">DAVID MAIALETTI / Staff Photographer</div>
        <div alignment="true" class="containerPhotoCaption">Bags of discarded trash sit along the 5600 block of Grays Avenue near a sign for the commercial dump in Philadelphia, PA on October 25, 2017. Workers from the sanitation department are rating the streets on cleanliness.</div>
      </div>



      <p>Bringing back weekly citywide street sweeping would cost $5.2 million annually and require a one-time $12 million purchase of equipment, the Streets Department estimates. Its 2017 budget was $98.9 million.</p>



      <p>While Mayor Kenney said he would &ldquo;love&rdquo; to bring back street sweeping, he says car-owning residents feel otherwise. &ldquo;We brought weekly sweeping to South Philadelphia and [former Councilman] Frank DiCicco got so much grief from
        people having to move their cars every week he actually asked for it to be suspended,&rdquo; Kenney said.</p>
      <p>The solution, he said, is for people to stop &ldquo;trashing our streets.&rdquo;</p>
      <p>&ldquo;It doesn&rsquo;t fall from the sky. Litter is not a natural occurrence,&rdquo; Kenney said. &ldquo;It&rsquo;s something that happens when people don&rsquo;t respect their communities.&rdquo;</p>





      <p>The 6,500 citywide <a href="http://www.philadelphiastreets.com/pmbc/become-a-block-captain/">block captains</a>, who sign up with the city as volunteers, can make a huge difference in determining whether a block stays litter-free. But only a quarter
        of blocks have a captain. The city also keeps their names private, so identifying your captain is difficult.<br /><br /></p>
      <p>That leaves some civic groups pooling money to pay for street-cleaning services or taking care of the blight themselves.</p>



      <div class="imagebreak"><img width="100%/" alt="" src="http://media.philly.com/images/RS_1200x800_20180220_INDEX26_G_421982374.JPG" class="img-fluid">
        <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
        <div alignment="true" class="containerPhotoCaption">Clean block officer Diane Oliveras inspects the 2400 block of West Sedgely Street in North Philadelphia, as she conducts an indexing to determine where loose litter and illegal dumping is the worst, Tuesday, Oct. 3, 2017.</div>
      </div>




      <p>West Philly resident Dave Brindley created <a href="http://notinphilly.org/search">Not in Philly</a>, which allows people to claim a block via an interactive map. Members pay $25 toward supplies and promise to clean their adopted street once a week
        for six months.</p>
      <p>Brindley, who started the program because he was aggravated by seeing his young kids play around wind-blown garbage, said about 1,000 people have registered since Not in Philly started in October 2016<strong>.</strong></p>
      <p>&ldquo;There&rsquo;s a lot of issues in our city that we feel helpless towards and we give that &lsquo;Philly shrug,&rsquo;&rdquo; Brindley said. &ldquo;...but just by taking care of my own block, I&rsquo;ve realized we don&rsquo;t need to feel
        powerless toward litter. We can put a dent in this problem that we all hate.&rdquo;</p>
    </div>
  </div>



</div>

<div class="credits"><span class="creditItem"><span class="title">Reporters:</span> Michael Boren, Julia Terruson & Michele Tranquilli</span> <span class="creditItem"><span class="title">Editor:</span> Cathy Rubin</span> <span class="creditItem"><span class="title">Visuals editor:</span> Frank
  Wiese </span><span class="creditItem"><span class="title">Graphics and Design:</span> Jared Whalen</span> <span class="creditItem"><span class="title">Photography:</span> Jessica Griffin, Jonathan Wilson & and David Maialetti & Tim Tai</span>
  <span class="creditItem"><span class="title">Video:</span> Jessica Griffin</span> <span class="creditItem"><span class="title"><span class="creditItem"><span class="title">Project Managers:</span>Emily Babay &amp; Ellen Dunkel</span> <span class="creditItem"><span class="creditItem"> </span></span>
  </span>
  </span>
</div>

<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">TIM TAI / Staff Photographer</div>
  </div>
</div>
